<!DOCTYPE html>
<html>
<head>
    <title>Level Up!</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>

    <nav id="navbar">
        <div id="logo">LVL UP!</div>
        <a href="/overview" class="nav-item <% if(page == 'overview'){ %>active<%};%>">Home</a>
        <a href="/battles" class="nav-item <% if(page == 'battles'){ %>active<%};%>">Battle Updates</a>
        <a href="/profile" class="nav-item <% if(page == 'profile'){ %>active<%};%>">Edit Profile</a>
    </nav>