<!DOCTYPE html>
<html>
<head>
    <title>Level Up!</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>

    <nav id="navbar">
        <div id="logo">LVL UP!</div>
        <a href="/overview" class="nav-item active">Home</a>
        <a href="/battles" class="nav-item">Battle Updates</a>
        <a href="#" class="nav-item">Edit Profile</a>
    </nav>