<% include partials/header %>

<div class="container">
    <form action="/skills" method="POST">
      Skill Name:
      <input type="text" name="skill" required <% if(result != false){%> value="<%= result[0].name %>" <%};%>>
      <br>
      Current Level:
      <input type="number" name="currLvl" required min="0" max="100" <% if(result != false){%> value="<%= result[0].curr_lvl %>" <%};%>>
      <br>
      Max Level:
      <input type="number" name="maxLvl" required min="1" max="100" <% if(result != false){%> value="<%= result[0].max_lvl %>" <%};%>>
      <br>
      <input type="hidden" name="skillID" <% if(result != false){%> value="<%= result[0].ID %>" <%};%>>
      <button type="submit" class="btn small">Submit</button>
      <a href="/skills/edit" class="btn small">Cancel</a>
    </form>
</div>

<% include partials/footer %>