<% include partials/header %>

<div class="container">
    <form action="/profile/edit" method="POST">
      Skill Name:
      <input type="text" name="skill" <% if(result != false){%> value="<%= result[0].name %>" <%};%>>
      <br>
      Current Level:
      <input type="number" name="currLvl" min="0" max="100" <% if(result != false){%> value="<%= result[0].curr_lvl %>" <%};%>>
      <br>
      Max Level:
      <input type="number" name="maxLvl" min="1" max="100" <% if(result != false){%> value="<%= result[0].max_lvl %>" <%};%>>
      <br>
      <input type="hidden" name="skillID" <% if(result != false){%> value="<%= result[0].ID %>" <%};%>>
      <button type="submit">Submit</button>
    </form>
</div>

<% include partials/footer %>