<% include partials/header %>

<div class="container">
    <a href="/profile/editSkills" class="btn">Add Skill</a>
    <a href="/profile/edit" class="btn">Edit Skills</a>
</div>

<% include partials/footer %>